.page-block.main-section p {
    color:#E5F9F1;
}


.page-block.main-section {
    background:#21B17E;
    padding-bottom:50px;
}

.main-section h3 {
    color:#F3FDF8;
    text-shadow: 0 1px 0 #167655;
}
