/*! HTML5 Boilerplate v5.0.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

   @import url('https://fonts.googleapis.com/css?family=Coming+Soon|Homemade+Apple|Indie+Flower|Shadows+Into+Light+Two');

   @font-face {
  font-family: "futuraBold";
  font-style: normal;
  font-weight: normal;
  src: url("fonts/futura-bold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/futura-bold-webfont.woff2") format("woff2"), url("fonts/futura-bold-webfont.woff") format("woff"), url("fonts/futura-bold-webfont.ttf") format("truetype"), url("fonts/futura-bold-webfont.svg#futura_md_btbold") format("svg");
}

html {
    color: #222;
    font-size: 16px;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   FONTS
   ========================================================================== */

@font-face {
    font-family: 'futuraBold';
    src: url('fonts/futura-bold-webfont.eot');
    src: url('fonts/futura-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/futura-bold-webfont.woff2') format('woff2'),
         url('fonts/futura-bold-webfont.woff') format('woff'),
         url('fonts/futura-bold-webfont.ttf') format('truetype'),
         url('fonts/futura-bold-webfont.svg#futura_md_btbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* ==========================================================================
   CUSTOM STYLES
   ========================================================================== */
.legacy-browser {
    display:none;
}

.page-block {
    width:100%;
    box-sizing:border-box;
    height:100%;
    overflow:hidden;
}

.page-block p {
    font-size:1.750em;
    font-family:"futuraLight", arial, sans-serif;
    line-height:190%;
    width:850px;
    margin:55px auto;
    -webkit-transform:translate3d(0,-15px, 0);
    -moz-transform:translate3d(0,-15px, 0);
    -ms-transform:translate3d(0,-15px, 0);
    -o-transform:translate3d(0,-15px, 0);
    transform:translate3d(0,-15px, 0);
    -webkit-transition:.3s ease-in-out;
    -moz-transition:.3s ease-in-out;
    -ms-transition:.3s ease-in-out;
    -o-transition:.3s ease-in-out;
    transition:.3s ease-in-out;
    opacity:0;
}

p .opening-paragraph, h3 .opening-title{
  opacity: 1 !important;
}


.page-block p.active {
  /*Translate3d(0,0,0) triggers some devices to accelerate hardware: */
    -webkit-transform:translate3d(0,0,0);
    -moz-transform:translate3d(0,0,0);
    -ms-transform:translate3d(0,0,0);
    -o-transform:translate3d(0,0,0);
    transform:translate3d(0,0,0);
    opacity:1;
}


.page-block h1 {
    font-size:7.813em;
    text-transform:uppercase;
    font-family:"futuraBold", arial, sans-serif;
    text-shadow: 0 1px 0 #1B597A;
    margin:0;
    line-height:1;
    position:relative;
}

.page-block h1 span {
    opacity:0;
    -webkit-transform:translate3d(0,-45px, 0);
    -moz-transform:translate3d(0,-45px, 0);
    -ms-transform:translate3d(0,-45px, 0);
    -o-transform:translate3d(0,-45px, 0);
    transform:translate3d(0,-45px, 0);
    -webkit-transition:.3s ease-in-out;
    -moz-transition:.3s ease-in-out;
    -ms-transition:.3s ease-in-out;
    -o-transition:.3s ease-in-out;
    transition:.3s ease-in-out;
}



.page-block h1 span.active {
    -webkit-transform:translate3d(0,0, 0);
    -moz-transform:translate3d(0,0, 0);
    -ms-transform:translate3d(0,0, 0);
    -o-transform:translate3d(0,0, 0);
    transform:translate3d(0,0, 0);
    opacity:1;
}


.page-block h2 {
    left:0;
    -webkit-transition:.3s ease-in-out;
    -moz-transition:.3s ease-in-out;
    -ms-transition:.3s ease-in-out;
    -o-transition:.3s ease-in-out;
    transition:.3s ease-in-out;
}

h2 {
    color: #EFF8FC;
    font-size: 1.688em;
    text-transform: uppercase;
    font-family: "futuraLight", arial, sans-serif;
    font-weight: normal;
    letter-spacing: 1px;
}

.page-block h3 {
    -webkit-transform:translate3d(0,-15px, 0);
    -moz-transform:translate3d(0,-15px, 0);
    -ms-transform:translate3d(0,-15px, 0);
    -o-transform:translate3d(0,-15px, 0);
    transform:translate3d(0,-15px, 0);
    -webkit-transition:.3s ease-in-out;
    -moz-transition:.3s ease-in-out;
    -ms-transition:.3s ease-in-out;
    -o-transition:.3s ease-in-out;
    transition:.3s ease-in-out;
    opacity:0;
    width:95%;
}

.page-block h3.active {
    -webkit-transform:translate3d(0,0,0);
    -moz-transform:translate3d(0,0, 0);
    -ms-transform:translate3d(0,0, 0);
    -o-transform:translate3d(0,0, 0);
    transform:translate3d(0,0, 0);
    opacity:1;
}

h3 {
    font-family:"futuraBold", arial, sans-serif;
    font-size:3.125em;
    width:800px;
    margin:110px auto 0 auto;
    text-align:center;
    text-transform:uppercase;
}



/**
 *  Section 1
 */

 .page-block.sec1 {
     background: #8e44ad;
     padding-right:17px;
     position:relative;
     height:100vh;
     top:0;
     opacity:0;
     padding-right:15px;
     display:block;
     -webkit-transition:.7s ease-in-out, opacity .3s ease-in-out;
     -moz-transition:.7s ease-in-out, opacity .3s ease-in-out;
     -ms-transition:.7s ease-in-out, opacity .3s ease-in-out;
     -o-transition:.7s ease-in-out, opacity .3s ease-in-out;
     transition:.7s ease-in-out, opacity .3s ease-in-out;
     background-image: radial-gradient(center center, circle cover, #9b59b6, #8e44ad);
     background-image: -o-radial-gradient(center center, circle cover, #9b59b6, #8e44ad);
     background-image: -ms-radial-gradient(center center, circle cover, #9b59b6, #8e44ad);
     background-image: -moz-radial-gradient(center center, circle cover, #53AAD9, #2C90C5);
     background-image: -webkit-radial-gradient(center center, circle cover, #9b59b6, #8e44ad);
 }

 .page-block.sec1.active {
     opacity:1;
 }

 .sec1-slogan {
     position:absolute;
     width:770px;
     text-align:center;
     margin:-100px 0 0 -385px;
     left:50%;
     top:50%;
     color:#EFF8FC;
 }

 .sec1 h2 {
     opacity:0;
 }

 .sec1 h2.active {
     opacity:1;
     -webkit-transition:.3s ease-in-out;
     -moz-transition:.3s ease-in-out;
     -ms-transition:.3s ease-in-out;
     -o-transition:.3s ease-in-out;
     transition:.3s ease-in-out;
     -webkit-transform:translate3d(0,-15px, 0);
     -moz-transform:translate3d(0,-15px, 0);
     -ms-transform:translate3d(0,-15px, 0);
     -o-transform:translate3d(0,-15px, 0);
     transform:translate3d(0,-15px, 0);
 }

/**
 *  The section 1 Scroller
 */


.scroll-block {
    position:absolute;
    left:50%;
    bottom:0;
    margin:0 0 40px -39.5px;
    width:80px;
    opacity:0;
    border:0;
    height:60px;
    outline:0;
    background:none;
}

.scroll-block.active {
    opacity:1;
}

.scroll-text {
    font-size: 44px;
    font-family: 'journalregular', arial, sans-serif;
    color: #EFF8FC;
    position: absolute;
    width: 100%;
    top: -30px;
    left: 0;
    text-align: center;
    -webkit-transition:.25s ease-in-out;
    -moz-transition:.25s ease-in-out;
    -ms-transition:.25s ease-in-out;
    -o-transition:.25s ease-in-out;
    transition:.25s ease-in-out;
    opacity:0;
}

.scroll-block.active:hover .scroll-text {
    -webkit-transform:translate3d(0,-25px, 0);
    -moz-transform:translate3d(0,-25px, 0);
    -ms-transform:translate3d(0,-25px, 0);
    -o-transform:translate3d(0,-25px, 0);
    transform:translate3d(0,-25px, 0);
    opacity:1;
}

.scroller-arrow {
    width:81px;
    height:19px;
    margin-left:auto;
    margin-right:auto;
    position:absolute;
    top:0;
    -webkit-animation: arrowPulse 1s ease-in-out infinite alternate;
    -moz-animation: arrowPulse 1s ease-in-out infinite alternate;
    -ms-animation: arrowPulse 1s ease-in-out infinite alternate;
    animation: arrowPulse 1s ease-in-out infinite alternate;
    margin-bottom:15px;
}

.scroller-arrow:before {
    width: 45px;
    background: #EFF8FC;
    height: 4px;
    content: '';
    left: 0;
    position: absolute;
    -webkit-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: rotate(27deg);
    -moz-transform: rotate(27deg);
    -ms-transform: rotate(27deg);
    -o-transform: rotate(27deg);
    transform: rotate(27deg);
    border-radius: 3px;
}

.scroller-arrow:after {
    width: 45px;
    background: #EFF8FC;
    height: 4px;
    content: '';
    right: 0;
    position: absolute;
    -webkit-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: rotate(-27deg);
    -moz-transform: rotate(-27deg);
    -ms-transform: rotate(-27deg);
    -o-transform: rotate(-27deg);
    transform: rotate(-27deg);
    border-radius: 3px;
    top:20px;
}


@-webkit-keyframes arrowPulse {
    from { opacity:1; }
    to {
        -webkit-transform:translate3d(0,30px,0);
        opacity:0;
    }
}

@-moz-keyframes arrowPulse {
    from { opacity:1; }
    to {
        -moz-transform:translate3d(0,30px,0);
        opacity:0;
    }
}

@keyframes arrowPulse {
    from { opacity:1; }
    to {
        transform:translate3d(0,30px,0);
        opacity:0;
    }
}





/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 * http://juicystudio.com/article/screen-readers-display-none.php
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

.display-none {
    display:none;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}


/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
